.App {
  position: relative;
  text-align: center;
  background: #e6e6e6;
  padding: 150px;
}

.container {
  text-align: center;
  background: #e6e6e6;
}


.centered {
  position: absolute;
  top: 50%;
  left: 49.34%;
  transform: translate(-50%, -50%);
  border-radius: 15%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 400px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.timer {
  background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
  /* Foreground color, Background colour */
  border-radius: 100%;
  height: 100px;
  /* Height and width */
  position: relative;
  width: 100px;
  /* Height and width */
  -webkit-animation: time 20s steps(20, start) infinite;
  /* Animation time and number of steps */
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation: mask 20s steps(10, start) infinite;
  /* Animation time and number of steps (halved) */
  -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mask {
  0% {
      background: #eee;
      /* Background colour */
      -webkit-transform: rotate(0deg);
  }
  50% {
      background: #eee;
      /* Background colour */
      -webkit-transform: rotate(-180deg);
  }
  50.01% {
      background: skyBlue;
      /* Foreground colour */
      -webkit-transform: rotate(0deg);
  }
  100% {
      background: skyBlue;
      /* Foreground colour */
      -webkit-transform: rotate(-180deg);
  }
}